<% @foods.each do |food| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= food.name %></h1><br />
    <i><%= food.description %></i><br />
    <p><%= food.country %></p><br />
  </div>

<% end %>