<% @foods.each do |food| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to food.name, food_path(food) %></h1><br />
    <i><%= food.description %></i><br />
    <p><%= food.country %></p><br />
    <%= image_tag 'tteokbokki.jpg' %>
  </div>

<% end %>